<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>Users</h1>
    <a href="/">Home</a>
    <ul>
        <% for (var user of users) { %>
            <li>
                <a href="/user?id=<%=user.id%>"><%= user.name %></a>
            </li>
        <%}%>
    </ul>
    <a href="/create">Create User</a>
    <a href="/find">Find User</a>

</body>
</html>